<div class="container-fluid">
	<div class="row">
		<div class="col">
			<article class="article-comp">
				<h1>Aut haec tibi, Torquate, sunt vituperanda aut patrocinium voluptatis repudiandum.</h1>

				<hr />
				<a href="#" class="event-social btn btn-outline-dark mr-2">
					<i class="bi bi-facebook"></i>
				</a>
				<a href="#" class="event-social btn btn-outline-dark mr-2">
					<i class="bi bi-twitter"></i>
				</a>
				<a href="#" class="event-social btn btn-outline-dark mr-2">
					<i class="bi bi-linkedin"></i>
				</a>
				<a href="#" class="event-social btn btn-outline-dark mr-2">
					<i class="bi bi-download"></i>
				</a>
				<a href="#" class="event-social btn btn-outline-dark mr-2">
					<i class="bi bi-printer"></i>
				</a>
				<hr />

				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <i>Istic sum, inquit.</i> Eorum enim est haec
					querela, qui sibi cari sunt seseque diligunt. Unum nescio, quo modo possit, si luxuriosus sit, finitas
					cupiditates habere. Ita, quae mutat, ea corrumpit, quae sequitur sunt tota Democriti, atomi, inane, imagines,
					quae eidola nominant, quorum incursione non solum videamus, sed etiam cogitemus; <b>Duo Reges: constructio
						interrete.</b> Compensabatur, inquit, cum summis doloribus laetitia. <a href="http://loripsum.net/"
						target="_blank">Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse;</a> Quibus natura iure
					responderit non esse verum aliunde finem beate vivendi, a se principia rei gerendae peti; Quonam, inquit,
					modo? </p>

				<h3>Hoc est non modo cor non habere, sed ne palatum quidem.</h3>

				<p>Uti tum denique iudicetur beatusne fuerit, cum extremum vitae diem morte confecerit, quod ille unus e septem
					sapientibus non sapienter Croesum monuit; <b>Sed in rebus apertissimis nimium longi sumus.</b> <a
						href="http://loripsum.net/" target="_blank">Quae cum essent dicta, discessimus.</a> Licet hic rursus ea
					commemores, quae optimis verbis ab Epicuro de laude amicitiae dicta sunt. Est igitur officium eius generis,
					quod nec in bonis ponatur nec in contrariis. Sapientem locupletat ipsa natura, cuius divitias Epicurus
					parabiles esse docuit. Aliena dixit in physicis nec ea ipsa, quae tibi probarentur; Aliter enim explicari,
					quod quaeritur, non potest. <i>Quo modo?</i> Sin ea non neglegemus neque tamen ad finem summi boni referemus,
					non multum ab Erilli levitate aberrabimus. Hunc vos beatum; <a href="http://loripsum.net/"
						target="_blank">Respondeat totidem verbis.</a> <i>Hoc sic expositum dissimile est superiori.</i> </p>

				<h2>Si qua in iis corrigere voluit, deteriora fecit.</h2>
				<p>
					<img src="https://via.placeholder.com/1920x1080/585858/000000" alt="article-image"/>
				</p>
				<p>Nam prius a se poterit quisque discedere quam appetitum earum rerum, quae sibi conducant, amittere. Facile
					pateremur, qui etiam nunc agendi aliquid discendique causa prope contra naturam vígillas suscipere soleamus.
					<i>Res enim concurrent contrariae.</i> Quorum sine causa fieri nihil putandum est. <i>Traditur, inquit, ab
						Epicuro ratio neglegendi doloris.</i> Nam prius a se poterit quisque discedere quam appetitum earum rerum,
					quae sibi conducant, amittere. Aliis esse maiora, illud dubium, ad id, quod summum bonum dicitis, ecquaenam
					possit fieri accessio. Nam nisi hoc optineatur, id solum bonum esse, quod honestum sit, nullo modo probari
					possit beatam vitam virtute effici. Quia dolori non voluptas contraria est, sed doloris privatio. Reperiam
					multos, vel innumerabilis potius, non tam curiosos nec tam molestos, quam vos estis, quibus, quid velim,
					facile persuadeam. </p>

				<h5>Cur, nisi quod turpis oratio est?</h5>

				<p><code>Nescio quo modo praetervolavit oratio.</code> Quem Tiberina descensio festo illo die tanto gaudio
					affecit, quanto L. Hoc autem loco tantum explicemus haec honesta, quae dico, praeterquam quod nosmet ipsos
					diligamus, praeterea suapte natura per se esse expetenda. </p>

				<pre>Qui enim voluptatem ipsam contemnunt, iis licet dicere se
acupenserem maenae non anteponere.

Et tamen tantis vectigalibus ad liberalitatem utens etiam
sine hac Pyladea amicitia multorum te benivolentia praeclare
tuebere et munies.
</pre>


				<ol>
					<li>Ut optime, secundum naturam affectum esse possit.</li>
					<li>Quodcumque in mentem incideret, et quodcumque tamquam occurreret.</li>
					<li>Idcirco enim non desideraret, quia, quod dolore caret, id in voluptate est.</li>
					<li>Sed quid attinet de rebus tam apertis plura requirere?</li>
				</ol>


				<blockquote cite="http://loripsum.net">
					Multosque etiam dolores curationis causa perferant, ut, si ipse usus membrorum non modo non maior, verum etiam
					minor futurus sit, eorum tamen species ad naturam revertatur?
				</blockquote>


				<p>Leonidas autem, rex Lacedaemoniorum, se in Thermopylis trecentosque eos, quos eduxerat Sparta, cum esset
					proposita aut fuga turpis aut gloriosa mors, opposuit hostibus. In quibus doctissimi illi veteres inesse
					quiddam caeleste et divinum putaverunt. Nam, ut saepe iam dixi, in infirma aetate inbecillaque mente vis
					naturae quasi per caliginem cernitur; Verum enim diceret, idque Socratem, qui voluptatem nullo loco numerat,
					audio dicentem, cibi condimentum esse famem, potionis sitim. Quid ergo aliud intellegetur nisi uti ne quae
					pars naturae neglegatur? Quod quoniam in quo sit magna dissensio est, Carneadea nobis adhibenda divisio est,
					qua noster Antiochus libenter uti solet. Inquit, cum ego te hac nova lege videam eodem die accusatori
					responderet tribus horis perorare, in hac me causa tempus dilaturum putas? Quarum ambarum rerum cum medicinam
					pollicetur, luxuriae licentiam pollicetur. Nam cum in Graeco sermone haec ipsa quondam rerum nomina novarum *
					* non videbantur, quae nunc consuetudo diuturna trivit; <i>Hoc mihi cum tuo fratre convenit.</i> </p>

				<p>Quos qui tollunt et nihil posse percipi dicunt, ii remotis sensibus ne id ipsum quidem expedire possunt, quod
					disserunt. Nam si amitti vita beata potest, beata esse non potest. Facile est hoc cernere in primis puerorum
					aetatulis. Ex quo illud efficitur, qui bene cenent omnis libenter cenare, qui libenter, non continuo bene.
					<code>Si quae forte-possumus.</code> Quia nec honesto quic quam honestius nec turpi turpius. Virtutibus igitur
					rectissime mihi videris et ad consuetudinem nostrae orationis vitia posuisse contraria. Non minor, inquit,
					voluptas percipitur ex vilissimis rebus quam ex pretiosissimis. Aliis esse maiora, illud dubium, ad id, quod
					summum bonum dicitis, ecquaenam possit fieri accessio. <b>Istic sum, inquit.</b> Satis est tibi in te, satis
					in legibus, satis in mediocribus amicitiis praesidii. An quae de prudentia, de cognitione rerum, de
					coniunctione generis humani, quaeque ab eisdem de temperantia, de modestia, de magnitudine animi, de omni
					honestate dicuntur? Sin eam, quam Hieronymus, ne fecisset idem, ut voluptatem illam Aristippi in prima
					commendatione poneret. Nec enim, dum metuit, iustus est, et certe, si metuere destiterit, non erit; </p>

				<pre>Idque quo magis quidam ita faciunt, ut iure etiam
reprehendantur, hoc magis intellegendum est haec ipsa nimia
in quibusdam futura non fuisse, nisi quaedam essent modica
natura.

Dicet pro me ipsa virtus nec dubitabit isti vestro beato M.
</pre>


				<p>Philosophi autem in suis lectulis plerumque moriuntur. Nec mihi illud dixeris: Haec enim ipsa mihi sunt
					voluptati, et erant illa Torquatis. Sin kakan malitiam dixisses, ad aliud nos unum certum vitium consuetudo
					Latina traduceret. Ergo infelix una molestia, fellx rursus, cum is ipse anulus in praecordiis piscis inventus
					est? <b>Nihilo magis.</b> Stoici scilicet. Pisone in eo gymnasio, quod Ptolomaeum vocatur, unaque nobiscum Q.
					Quae diligentissime contra Aristonem dicuntur a Chryippo. <b>Profectus in exilium Tubulus statim nec
						respondere ausus;</b> </p>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<p>De malis autem et bonis ab iis animalibus, quae nondum depravata sint, ait optime iudicari. Qui autem
					diffidet perpetuitati bonorum suorum, timeat necesse est, ne aliquando amissis illis sit miser. <a
						href="http://loripsum.net/" target="_blank">Quid enim de amicitia statueris utilitatis causa expetenda
						vides.</a> <code>Quae cum dixisset paulumque institisset, Quid est?</code> <i>[redacted]</i>tilio Rufo, cum
					is rem ad amicos ita deferret, se esse heredem Q. Quid, cum fictas fabulas, e quibus utilitas nulla elici
					potest, cum voluptate legimus? Nec hoc ille non vidit, sed verborum magnificentia est et gloria delectatus.
					<mark>Non semper, inquam;</mark> Hoc ille tuus non vult omnibusque ex rebus voluptatem quasi mercedem exigit.
					<a href="http://loripsum.net/" target="_blank">Duo enim genera quae erant, fecit tria.</a> Sed certe opus est
					ea valere et vigere et naturales motus ususque habere, ut nec absit quid eorum nec aegrum debilitatumve sit;
					Videmus igitur ut conquiescere ne infantes quidem possint. An quod ita callida est, ut optime possit
					architectari voluptates? </p>

				<p><mark>Sullae consulatum?</mark> Sed tamen est aliquid, quod nobis non liceat, liceat illis. Quod dicit
					Epicurus etiam de voluptate, quae minime sint voluptates, eas obscurari saepe et obrui. Quare si potest esse
					beatus is, qui est in asperis reiciendisque rebus, potest is quoque esse. Aliud est enim poëtarum more verba
					fundere, aliud ea, quae dicas, ratione et arte distinguere. <code>Illi enim inter se dissentiunt.</code> -,
					sed ut hoc iudicaremus, non esse in iis partem maximam positam beate aut secus vivendi. Et quidem Arcesilas
					tuus, etsi fuit in disserendo pertinacior, tamen noster fuit; Quis enim potest istis, quae te, ut ais,
					delectant, brevibus et acutis auditis de sententia decedere? <a href="http://loripsum.net/"
						target="_blank">Sed ad bona praeterita redeamus.</a> Quod eo liquidius faciet, si perspexerit rerum inter
					eas verborumne sit controversia. <b>Non quam nostram quidem, inquit Pomponius iocans;</b> </p>

				<ul>
					<li>Atqui eorum nihil est eius generis, ut sit in fine atque extrerno bonorum.</li>
					<li>In qua quid est boni praeter summam voluptatem, et eam sempiternam?</li>
					<li>Itaque hic ipse iam pridem est reiectus;</li>
					<li>Tamen aberramus a proposito, et, ne longius, prorsus, inquam, Piso, si ista mala sunt, placet.</li>
					<li>Quis tibi ergo istud dabit praeter Pyrrhonem, Aristonem eorumve similes, quos tu non probas?</li>
				</ul>


				<dl>
					<dt><dfn>Stoici scilicet.</dfn></dt>
					<dd>Sed tempus est, si videtur, et recta quidem ad me.</dd>
					<dt><dfn>Certe non potest.</dfn></dt>
					<dd>Quodsi vultum tibi, si incessum fingeres, quo gravior viderere, non esses tui similis;</dd>
					<dt><dfn>Non semper, inquam;</dfn></dt>
					<dd>Experiamur igitur, inquit, etsi habet haec Stoicorum ratio difficilius quiddam et obscurius.</dd>
					<dt><dfn>Quare attende, quaeso.</dfn></dt>
					<dd>Iam quae corporis sunt, ea nec auctoritatem cum animi partibus, comparandam et cognitionem habent
						faciliorem.</dd>
				</dl>


				<ol>
					<li>Qualem igitur hominem natura inchoavit?</li>
					<li>Cur ipse Pythagoras et Aegyptum lustravit et Persarum magos adiit?</li>
					<li>Tu autem negas fortem esse quemquam posse, qui dolorem malum putet.</li>
					<li>Ut necesse sit omnium rerum, quae natura vigeant, similem esse finem, non eundem.</li>
					<li>Quaero igitur, quo modo hae tantae commendationes a natura profectae subito a sapientia relictae sint.
					</li>
				</ol>


				<p>Octavio fuit, cum illam severitatem in eo filio adhibuit, quem in adoptionem D. Vitae autem degendae ratio
					maxime quidem illis placuit quieta. Si enim sapiens aliquis miser esse possit, ne ego istam gloriosam
					memorabilemque virtutem non magno aestimandam putem. Quibus autem in rebus tanta obscuratio non fit, fieri
					tamen potest, ut id ipsum, quod interest, non sit magnum. Negat esse eam, inquit, propter se expetendam. Aut
					unde est hoc contritum vetustate proverbium: quicum in tenebris? <code>Res enim concurrent contrariae.</code>
					Quem si tenueris, non modo meum Ciceronem, sed etiam me ipsum abducas licebit. Non enim hilaritate nec
					lascivia nec risu aut ioco, comite levitatis, saepe etiam tristes firmitate et constantia sunt beati. <code>Si
						longus, levis;</code> </p>

				<p><code>Nescio quo modo praetervolavit oratio.</code> Illa enim, quae sunt a nobis bona corporis numerata,
					complent ea quidem beatissimam vitam, sed ita, ut sine illis possit beata vita existere. <a
						href="http://loripsum.net/" target="_blank">Honesta oratio, Socratica, Platonis etiam.</a> Equidem in
					omnibus istis conclusionibus hoc putarem philosophia nobisque dignum, et maxime, cum summum bonum quaereremus,
					vitam nostram, consilia, voluntates, non verba corrigi. Nam de summo mox, ut dixi, videbimus et ad id
					explicandum disputationem omnem conferemus. Vives, inquit Aristo, magnifice atque praeclare, quod erit cumque
					visum ages, numquam angere, numquam cupies, numquam timebis. Atqui eorum nihil est eius generis, ut sit in
					fine atque extrerno bonorum. Quibus rebus vita consentiens virtutibusque respondens recta et honesta et
					constans et naturae congruens existimari potest. </p>

				<p>Ne amores quidem sanctos a sapiente alienos esse arbitrantur. Dat enim intervalla et relaxat. Habes, inquam,
					Cato, formam eorum, de quibus loquor, philosophorum. Sin eam, quam Hieronymus, ne fecisset idem, ut voluptatem
					illam Aristippi in prima commendatione poneret. Ut enim consuetudo loquitur, id solum dicitur honestum, quod
					est populari fama gloriosum. <code>Contemnit enim disserendi elegantiam, confuse loquitur.</code> Hoc igitur
					quaerentes omnes, et ii, qui quodcumque in mentem veniat aut quodcumque occurrat se sequi dicent, et vos ad
					naturam revertemini. Nos autem non solum beatae vitae istam esse oblectationem videmus, sed etiam levamentum
					miseriarum. </p>

				<h4>Sed quid attinet de rebus tam apertis plura requirere?</h4>

				<p><mark>Primum quid tu dicis breve?</mark> <code>Quae diligentissime contra Aristonem dicuntur a
						Chryippo.</code> Ex quo intellegitur nec intemperantiam propter se esse fugiendam temperantiamque
					expetendam, non quia voluptates fugiat, sed quia maiores consequatur. <mark>Quam si explicavisset, non tam
						haesitaret.</mark> Nam illud vehementer repugnat, eundem beatum esse et multis malis oppressum. <b>Prioris
						generis est docilitas, memoria;</b> <b>Si longus, levis.</b> <mark>Quare ad ea primum, si videtur;</mark>
					Hoc dictum in una re latissime patet, ut in omnibus factis re, non teste moveamur. <a
						href="http://loripsum.net/" target="_blank">Que Manilium, ab iisque M.</a> Atque adhuc ea dixi, causa cur
					Zenoni non fuisset, quam ob rem a superiorum auctoritate discederet. Et si turpitudinem fugimus in statu et
					motu corporis, quid est cur pulchritudinem non sequamur? </p>

				<dl>
					<dt><dfn>Recte dicis;</dfn></dt>
					<dd>Quorum sine causa fieri nihil putandum est.</dd>
					<dt><dfn>Eam stabilem appellas.</dfn></dt>
					<dd>Sed potestne rerum maior esse dissensio?</dd>
					<dt><dfn>Tenent mordicus.</dfn></dt>
					<dd>Num quid tale Democritus?</dd>
					<dt><dfn>Ita credo.</dfn></dt>
					<dd>Quasi vero aut concedatur in omnibus stultis aeque magna esse vitia, et eadem inbecillitate et
						inconstantia L.</dd>
					<dt><dfn>Immo alio genere;</dfn></dt>
					<dd>Tanta vis admonitionis inest in locis;</dd>
				</dl>


				<ul>
					<li>Sed audiamus ipsum: Compensabatur, inquit, tamen cum his omnibus animi laetitia, quam capiebam memoria
						rationum inventorumque nostrorum.</li>
					<li>Eadem nunc mea adversum te oratio est.</li>
					<li>Te enim iudicem aequum puto, modo quae dicat ille bene noris.</li>
				</ul>


				<dl>
					<dt><dfn>Istic sum, inquit.</dfn></dt>
					<dd>Quod quidem iam fit etiam in Academia.</dd>
					<dt><dfn>Venit ad extremum;</dfn></dt>
					<dd>Peccata paria.</dd>
					<dt><dfn>Sed fortuna fortis;</dfn></dt>
					<dd>Ita fit cum gravior, tum etiam splendidior oratio.</dd>
				</dl>


				<blockquote cite="http://loripsum.net">
					Sic, et quidem diligentius saepiusque ista loquemur inter nos agemusque communiter.
				</blockquote>


				<ul>
					<li>Numquam hoc ita defendit Epicurus neque Metrodorus aut quisquam eorum, qui aut saperet aliquid aut ista
						didicisset.</li>
					<li>Itaque eo, quale sit, breviter, ut tempus postulat, constituto accedam ad omnia tua, Torquate, nisi
						memoria forte defecerit.</li>
					<li>Ne amores quidem sanctos a sapiente alienos esse arbitrantur.</li>
					<li>Quae cum essent dicta, discessimus.</li>
					<li>Ratio quidem vestra sic cogit.</li>
				</ul>


				<p>Indicant pueri, in quibus ut in speculis natura cernitur. Sed non alienum est, quo facilius vis verbi
					intellegatur, rationem huius verbi faciendi Zenonis exponere. <a href="http://loripsum.net/"
						target="_blank">Frater et T.</a> Itaque <i>[redacted]</i> in primis ingenuus et gravis, dignus illa
					familiaritate Scipionis et Laelii, Panaetius, cum ad Q. </p>

				<blockquote cite="http://loripsum.net">
					Et qui ipsi sibi bellum indixissent, cruciari dies, noctes torqueri vellent, nec vero sese ipsi accusarent ob
					eam causam, quod se male suis rebus consuluisse dicerent.
				</blockquote>


				<p>Itaque non discedit ab eorum curatione, quibus praeposita vitam omnem debet gubernare, ut mirari satis
					istorum inconstantiam non possim. Non potes ergo ista tueri, Torquate, mihi crede, si te ipse et tuas
					cogitationes et studia perspexeris; Quare, quoniam de primis naturae commodis satis dietum est nunc de
					maioribus consequentibusque videamus. In ipsa enim parum magna vis inest, ut quam optime se habere possit, si
					nulla cultura adhibeatur. <b>Quis est tam dissimile homini.</b> Etsi qui potest intellegi aut cogitari esse
					aliquod animal, quod se oderit? Sed vobis voluptatum perceptarum recordatio vitam beatam facit, et quidem
					corpore perceptarum. <i>Sed plane dicit quod intellegit.</i> Scientiam pollicentur, quam non erat mirum
					sapientiae cupido patria esse cariorem. Nemo enim est, qui aliter dixerit quin omnium naturarum simile esset
					id, ad quod omnia referrentur, quod est ultimum rerum appetendarum. Cur igitur, inquam, res tam dissimiles
					eodem nomine appellas? </p>

				<ol>
					<li>Quo tandem modo?</li>
					<li>Certe, nisi voluptatem tanti aestimaretis.</li>
					<li>A quibus propter discendi cupiditatem videmus ultimas terras esse peragratas.</li>
					<li>Quae quo sunt excelsiores, eo dant clariora indicia naturae.</li>
				</ol>


				<pre>Si enim idem dicit, quod Hieronymus, qui censet summum bonum
esse sine ulla molestia vivere, cur mavult dicere voluptatem
quam vacuitatem doloris, ut ille facit, qui quid dicat
intellegit?

Levatio igitur vitiorum magna fit in iis, qui habent ad
virtutem progressionis aliquantum.
</pre>


				<h2>Quod ea non occurrentia fingunt, vincunt Aristonem;</h2>

				<p>Sunt enim quasi prima elementa naturae, quibus ubertas orationis adhiberi vix potest, nec equidem eam cogito
					consectari. Quae dici eadem de ceteris virtutibus possunt, quarum omnium fundamenta vos in voluptate tamquam
					in aqua ponitis. Quid, si reviviscant Platonis illi et deinceps qui eorum auditores fuerunt, et tecum ita
					loquantur? Ita cum ea volunt retinere, quae superiori sententiae conveniunt, in Aristonem incidunt; <code>Ait
						enim se, si uratur, Quam hoc suave! dicturum.</code> Neque enim civitas in seditione beata esse potest nec
					in discordia dominorum domus; </p>

				<h3>Eiuro, inquit adridens, iniquum, hac quidem de re;</h3>

				<p>Et summatim quidem haec erant de corpore animoque dicenda, quibus quasi informatum est quid hominis natura
					postulet. <b>Si longus, levis dictata sunt.</b> Quid, si etiam iucunda memoria est praeteritorum malorum?
					<b>Si longus, levis.</b> A villa enim, credo, et: Si ibi te esse scissem, ad te ipse venissem. Obsecro,
					inquit, Torquate, haec dicit Epicurus? Omnis enim est natura diligens sui. <b>Bonum incolumis acies: misera
						caecitas.</b> Ex quo intellegitur nec intemperantiam propter se esse fugiendam temperantiamque expetendam,
					non quia voluptates fugiat, sed quia maiores consequatur. <b>Hos contra singulos dici est melius.</b> </p>

				<p>Numquam hoc ita defendit Epicurus neque Metrodorus aut quisquam eorum, qui aut saperet aliquid aut ista
					didicisset. Voluptatem cum summum bonum diceret, primum in eo ipso parum vidit, deinde hoc quoque alienum;
					Primum enim, si vera sunt ea, quorum recordatione te gaudere dicis, hoc est, si vera sunt tua scripta et
					inventa, gaudere non potes. Non quam nostram quidem, inquit Pomponius iocans; <a href="http://loripsum.net/"
						target="_blank">Honesta oratio, Socratica, Platonis etiam.</a> Non enim ipsa genuit hominem, sed accepit a
					natura inchoatum. <code>Qua ex cognitione facilior facta est investigatio rerum occultissimarum.</code> Non
					enim, si omnia non sequebatur, idcirco non erat ortus illinc. Et hunc idem dico, inquieta sed ad virtutes et
					ad vitia nihil interesse. <b>Non autem hoc: igitur ne illud quidem.</b> </p>


			</article>
		</div>
	</div>
</div>