<div class="hero-slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-theme="light">
        <div class="bg-img-wrap-p">
          <div class="bg-img-wrap">
            <picture>
              <source media="(min-width: 1200px)"
              data-srcset="../../assets/images/stadium-1280x1280.jpg 1x, ../../assets/images/stadium-2560x2560.jpg 2x">
            <source media="(min-width: 750px)"
              data-srcset="../../assets/images/stadium-1040x1040.jpg 1x, ../../assets/images/stadium-2080x2080.jpg 2x">
            <img alt="Alt definition required" class="bg-img-wrap-src lazyload" src="../../assets/images/stadium-400x400.jpg"
              data-srcset="../../assets/images/stadium-800x800.jpg 1x, ../../assets/images/stadium-1600x1600.jpg 2x">
            </picture>
            <div class="bg-img-wrap-cover"></div>
          </div>
        </div>
        <div class="hero-teaser max-wrap">
          <!--#include virtual="./../../components/teasers/teaser-032.html"-->
        </div>
      </div>
      <div class="swiper-slide" data-theme="light">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item lazyload" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/C0DPdy98e4c?enablejsapi=1" frameborder="0"></iframe>
        </div>
      </div>
      <div class="swiper-slide" data-theme="dark">
        <div class="bg-img-wrap-p">
          <div class="bg-img-wrap">
            <picture>
              <source media="(min-width: 1200px)"
                data-srcset="../../assets/images/events2-1280x1280.jpg 1x, ../../assets/images/events2-2560x2560.jpg 2x">
              <source media="(min-width: 750px)"
                data-srcset="../../assets/images/events2-1040x1040.jpg 1x, ../../assets/images/events2-2080x2080.jpg 2x">
              <img alt="Alt definition required" class="bg-img-wrap-src lazyload" src="../../assets/images/events2-400x400.jpg"
                data-srcset="../../assets/images/events2-800x800.jpg 1x, ../../assets/images/events2-1600x1600.jpg 2x">
            </picture>
            <div class="bg-img-wrap-cover"></div>
          </div>
        </div>
        <div class="hero-teaser max-wrap">
          <!--#include virtual="./../../components/teasers/teaser-033.html"-->
        </div>
      </div>
      <div class="swiper-slide" data-theme="dark">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item lazyload" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/NpEaa2P7qZI?enablejsapi=1" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev rounded border border-light">
      <button type="button" class="btn btn-lg btn-primary"><i class="bi bi-chevron-left"></i></button>
    </div>
    <div class="swiper-button-next rounded border border-light">
      <button type="button" class="btn btn-lg btn-primary"><i class="bi bi-chevron-right"></i></button>
    </div>
  </div>
</div>
            <!-- <picture>
              <source media="(min-width: 1200px)"
                data-srcset="https://via.placeholder.com/1280x720/abcdef/F8146A 1x, https://via.placeholder.com/2560x1440/abcdef/F8146A 2x">
              <source media="(min-width: 750px)"
                data-srcset="https://via.placeholder.com/1040x585/abcdef/F8146A 1x, https://via.placeholder.com/2080x1170/abcdef/F8146A 2x">
              <img alt="Alt definition required" class="bg-img-wrap-src lazyload" src="https://via.placeholder.com/450x800/abcdef/F8146A"
                data-srcset="https://via.placeholder.com/450x800/abcdef/F8146A 1x, https://via.placeholder.com/900x1600/abcdef/F8146A 2x">
            </picture> -->
