<div class="grid-carousel">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-013.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-011.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-010.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-009.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-014.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-011.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-010.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-009.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-009.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-015.html"-->
      </div>
    </div>
   <!-- Add Arrows -->
   <button class="btn btn-info swiper-button-next">
    <i class="material-icons-outlined">chevron_right</i>
  </button>
  <button class="btn btn-info swiper-button-prev">
    <i class="material-icons-outlined">chevron_left</i>
  </button>
  </div>  
</div>