<div class="grid-carousel">
  <div class="swiper-container pb-6">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-013.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-011.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-010.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-009.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-014.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-011.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-010.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-009.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-009.html"-->
      </div>
      <div class="swiper-slide">
        <!--#include virtual="./../teasers/teaser-015.html"-->
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev rounded border border-light">
      <button type="button" class="btn btn-lg btn-primary"><i class="bi bi-chevron-left"></i></button>
    </div>
    <div class="swiper-button-next rounded border border-light">
      <button type="button" class="btn btn-lg btn-primary"><i class="bi bi-chevron-right"></i></button>
    </div>
  </div>
</div>