<div class="grid-carousel pb-6">
  <div class="slick-slide">
    <!--#include virtual="./../teasers/teaser-013.html"-->
  </div>
  <div class="slick-slide">
    <!--#include virtual="./../teasers/teaser-011.html"-->
  </div>
  <div class="slick-slide">
    <!--#include virtual="./../teasers/teaser-010.html"-->
  </div>
  <div class="slick-slide">
    <!--#include virtual="./../teasers/teaser-009.html"-->
  </div>
  <div class="slick-slide">
    <!--#include virtual="./../teasers/teaser-014.html"-->
  </div>
  <div class="slick-slide">
    <!--#include virtual="./../teasers/teaser-011.html"-->
  </div>
  <div class="slick-slide">
    <!--#include virtual="./../teasers/teaser-010.html"-->
  </div>
  <div class="slick-slide">
    <!--#include virtual="./../teasers/teaser-009.html"-->
  </div>
  <div class="slick-slide">
    <!--#include virtual="./../teasers/teaser-009.html"-->
  </div>
  <div class="slick-slide">
    <!--#include virtual="./../teasers/teaser-015.html"-->
  </div>
</div>