<section class="siteheader light-theme">
  <header>
    <div class="header-nav d-flex justify-content-center align-items-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col d-flex justify-content-center align-items-center">
            <button class="btn" type="button" aria-label="Navigate to">
              <div data-icon="true">
                <ion-icon name="menu-outline" data-iconoff="true"></ion-icon>
                <ion-icon name="menu" data-iconon="true" aria-hidden="true"></ion-icon>
              </div>
            </button>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
            <button class="btn" type="button" aria-label="My Account">
              <div data-icon="true">
                <ion-icon name="person-outline" data-iconoff="true"></ion-icon>
                <ion-icon name="person" data-iconon="true" aria-hidden="true"></ion-icon>
              </div>
            </button>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
            <div class="site-logo">
              <a href="#">
                logo
              </a>
            </div>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
            <div class="dropdown">
              <button class="dropdown-toggle btn btn-outline-dark" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                APAC
              </button>
              <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#">UK</a></li>
                <li><a class="dropdown-item" href="#">APAC</a></li>
              </ul>
            </div>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
            <button class="btn" type="button" aria-label="Search">
              <div data-icon="true">
                <ion-icon name="search-outline" data-iconoff="true"></ion-icon>
                <ion-icon name="search" data-iconon="true" class="hidden" aria-hidden="true"></ion-icon>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>