<section class="siteheader" data-theme="light">
  <header>
    <div class="max-wrap-half header-nav d-flex justify-content-center align-items-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col px-2 d-flex justify-content-center align-items-center position-static">
            <!--#include virtual="./_megamenu-content.html" -->
          </div>
          <div class="col px-2 d-flex justify-content-center align-items-center">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" aria-label="My Account" id="siteAccountButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-person"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="siteAccountButton">
                <a class="dropdown-item" href="#">Login</a>
                <a class="dropdown-item" href="#">Register</a>
              </div>
            </div>
          </div>
          <div class="col px-2 d-flex justify-content-center align-items-center">
            <div class="site-logo">
              <a href="#">
                logo
              </a>
            </div>
          </div>
          <div class="col px-2 d-flex justify-content-center align-items-center">
            <div class="dropdown">
              <button class="btn btn-sm dropdown-toggle font-weight-bold" aria-label="Select Locale" type="button" id="siteLocaleButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                APAC
              </button>
              <div class="dropdown-menu" aria-labelledby="siteLocaleButton">
                <a class="dropdown-item" href="#">UK</a>
                <a class="dropdown-item" href="#">APAC</a>
              </div>
            </div>
          </div>
          <div class="col px-2 d-flex justify-content-center align-items-center">
            <button class="btn" type="button" aria-label="Search">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>
