<nav id="__amegmen_root">
  <button class="btn __amegmen--toggle-cta" type="button" aria-label="Navigate to">
    <i class="bi bi-list"></i>
  </button>
  <div class="__amegmen--canvas">
    <header>
      <button class="btn __amegmen--close-cta" type="button" aria-label="Navigate to">
        <i class="bi bi-x"></i>
      </button>
    </header>
    <section class="__amegmen--main">
      <ul class="list-unstyled p-0 m-0">
        <li class="d-block"><a href="#">Covid 19 Response</a></li>
        <li class="d-block"><a href="#">What We Do<i class="bi bi-chevron-right"></i></a>
          <section class="__amegmen--panel">
            <div class="__amegmen--landing">
              <button class="btn __amegmen--main-cta">
                <i class="bi bi-chevron-left"></i>
              </button>
              <a href="#">What We Do</a>
            </div>
            <nav>
              <div class="__amegmen--col">
                <ul class="list-unstyled p-0 m-0">
                  <li class="d-block"><a href="#">Investors</a></li>
                  <li class="d-block"><a href="#">Employees</a></li>
                  <li class="d-block"><a href="#">Sustainability</a></li>
                  <li class="d-block"><a href="#">Customer Communications</a></li>
                  <li class="d-block"><a href="#">Business Partners</a></li>
                  <li class="d-block"><a href="#">Digital</a></li>
                </ul>
              </div>
            </nav>
          </section>
        </li>
        <li class="d-block"><a href="#">Connect Technology</a></li>
        <li class="d-block"><a href="#">Our Work<i class="bi bi-chevron-right"></i></a>
          <section class="__amegmen--panel">
            <div class="__amegmen--landing">
              <button class="btn __amegmen--main-cta">
                <i class="bi bi-chevron-left"></i>
              </button>
              <a href="#">Our Work</a>
            </div>
            <nav>
              <div class="__amegmen--col">
                <ul class="list-unstyled p-0 m-0">
                  <li class="d-block"><a href="#">Investors</a></li>
                  <li class="d-block"><a href="#">Employees</a></li>
                  <li class="d-block"><a href="#">Sustainability</a></li>
                  <li class="d-block"><a href="#">Customer Communications</a></li>
                  <li class="d-block"><a href="#">Business Partners</a></li>
                  <li class="d-block"><a href="#">Digital</a></li>
                </ul>
              </div>
            </nav>
          </section>
        </li>
        <li class="d-block"><a href="#">News &amp; Insights<i class="bi bi-chevron-right"></i></a>
          <section class="__amegmen--panel">
            <div class="__amegmen--landing">
              <button class="btn __amegmen--main-cta">
                <i class="bi bi-chevron-left"></i>
              </button>
              <a href="#">News &amp; Insights</a>
            </div>
            <nav>
              <div class="__amegmen--col">
                <ul class="list-unstyled p-0 m-0">
                  <li class="d-block"><a href="#">Blogs</a></li>
                  <li class="d-block"><a href="#">Events</a></li>
                  <li class="d-block"><a href="#">Company News</a></li>
                  <li class="d-block"><a href="#">Awards</a></li>
                  <li class="d-block"><a href="#">Best Practices</a></li>
                  <li class="d-block"><a href="#">Research</a></li>
                  <li class="d-block"><a href="#">Perspectives</a></li>
                </ul>
              </div>
            </nav>
          </section>
        </li>
        <li class="d-block"><a href="#">Contact Us</a></li>
      </ul>
    </section>
  </div>
</nav>