<nav id="__amegmen_root">
  <button class="__amegmen--toggle-cta">
    menu
  </button>
  <div class="__amegmen--canvas">
    <header>
      <button class="__amegmen--close-cta">
        close
      </button>
    </header>
    <section class="__amegmen--main">
      <ul>
        <li><a href="#">Covid 19 Response</a></li>
        <li><a href="#">What We Do
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.29 6.71c-.39.39-.39 1.02 0 1.41L13.17 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z"/></svg>
          </span>
        </a>
          <section class="__amegmen--panel">
            <div class="__amegmen--landing">
              <button class="__amegmen--main-cta">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>
              </button>
              <!-- <a href="#">What We Do</a> -->
              <a href="#">Covid 19 Response</a>
            </div>
            <nav>
              <div class="__amegmen--col">
                <ul>
                  <li><a href="#">Investors</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Sustainability</a></li>
                  <li><a href="#">Digital</a></li>
                  <li><a href="#">Investors</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Sustainability</a></li>
                  <li><a href="#">Digital</a></li>
                  <li><a href="#">Investors</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Sustainability</a></li>
                  <li><a href="#">Digital</a></li>
                  <li><a href="#">Investors</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Sustainability</a></li>
                  <li><a href="#">Digital</a></li>
                  <li><a href="#">Investors</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Sustainability</a></li>
                  <li><a href="#">Digital</a></li>
                  <li><a href="#">Investors</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Sustainability</a></li>
                  <li><a href="#">Digital</a></li>
                  <li><a href="#">Investors</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Sustainability</a></li>
                  <li><a href="#">Digital</a></li>
                  <li><a href="#">Investors</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Sustainability</a></li>
                  <li><a href="#">Digital</a></li>
                </ul>
              </div>
            </nav>
          </section>
        </li>
        <li><a href="#">Connect Technology</a></li>
        <li><a href="#">Our Work</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Join Us</a></li>
        <li><a href="#">Covid 19 Response</a></li>
        <li><a href="#">What We Do
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.29 6.71c-.39.39-.39 1.02 0 1.41L13.17 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z"/></svg>
          </span>
        </a>
          <section class="__amegmen--panel">
            <div class="__amegmen--landing">
              <button class="__amegmen--main-cta">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>
              </button>
              <!-- <a href="#">What We Do</a> -->
              <a href="#">Covid 19 Response</a>
            </div>
            <nav>
              <div class="__amegmen--col">
                <ul>
                  <li><a href="#">Investors</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Sustainability</a></li>
                  <li><a href="#">Digital</a></li>
                </ul>
              </div>
            </nav>
          </section>
        </li>
        <li><a href="#">Connect Technology</a></li>
        <li><a href="#">Our Work</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Join Us</a></li>
        <li><a href="#">Covid 19 Response</a></li>
        <li><a href="#">What We Do
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.29 6.71c-.39.39-.39 1.02 0 1.41L13.17 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z"/></svg>
          </span>
        </a>
          <section class="__amegmen--panel">
            <div class="__amegmen--landing">
              <button class="__amegmen--main-cta">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>
              </button>
              <!-- <a href="#">What We Do</a> -->
              <a href="#">Covid 19 Response</a>
            </div>
            <nav>
              <div class="__amegmen--col">
                <ul>
                  <li><a href="#">Investors</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Sustainability</a></li>
                  <li><a href="#">Digital</a></li>
                </ul>
              </div>
            </nav>
          </section>
        </li>
        <li><a href="#">Connect Technology</a></li>
        <li><a href="#">Our Work</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Join Us</a></li>
        <li><a href="#">Covid 19 Response</a></li>
        <li><a href="#">What We Do
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.29 6.71c-.39.39-.39 1.02 0 1.41L13.17 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z"/></svg>
          </span>
        </a>
          <section class="__amegmen--panel">
            <div class="__amegmen--landing">
              <button class="__amegmen--main-cta">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>
              </button>
              <!-- <a href="#">What We Do</a> -->
              <a href="#">Covid 19 Response</a>
            </div>
            <nav>
              <div class="__amegmen--col">
                <ul>
                  <li><a href="#">Investors</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Sustainability</a></li>
                  <li><a href="#">Digital</a></li>
                </ul>
              </div>
            </nav>
          </section>
        </li>
        <li><a href="#">Connect Technology</a></li>
        <li><a href="#">Our Work</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Join Us</a></li>
      </ul>
  </div>
</nav>