.section-wrapper {
  display: flex;
  flex-direction: column;
  &.tall-as-device {
    height: calc(100vh - #{$headerMobileHeight});
  }
  &.half-n-half {
    flex-direction: column;
    .half-on-left, .half-on-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      width: 100%;
    }
  }
}
// 1280 - 64