html, body {
  height: 100%; }

html {
  font-size: 16px; }

body {
  background-color: #000;
  color: #fff; }
  body.offcanvas-open {
    overflow: hidden; }

.max-wrap {
  max-width: 80rem;
  margin: 0 auto;
  width: 100%; }

.max-wrap-half {
  max-width: 40rem;
  margin: 0 auto;
  width: 100%; }

.top-0 {
  top: 0 !important; }

.right-0 {
  right: 0 !important; }

.bottom-0 {
  bottom: 0 !important; }

.left-0 {
  left: 0 !important; }

.word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.skip-to-main {
  background: #fff;
  border: 1px solid #F8146A;
  color: #F8146A;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  left: 50%;
  margin-left: -100px;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  transform: translateY(-100%);
  width: 200px;
  z-index: 1040; }
  .skip-to-main:focus {
    transform: translateY(0%); }

[data-theme="light"] {
  background-color: #f8f9fa;
  color: #212529; }
  [data-theme="light"] .bg-img-wrap-cover {
    background-color: rgba(255, 255, 255, 0.75); }

[data-theme="dark"] {
  background-color: #212529;
  color: #f8f9fa; }
  [data-theme="dark"] .bg-img-wrap-cover {
    background-color: rgba(0, 0, 0, 0.65); }

i.bi {
  display: inline-block;
  vertical-align: top; }
  i.bi::before {
    vertical-align: top;
    line-height: inherit; }

main {
  padding-top: 64px; }
  @media (min-width: 48em) {
    main {
      padding-top: 96px; } }

.bg-img-wrap-p, .bg-img-wrap-cover {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%; }

.bg-img-wrap {
  height: 100%;
  overflow: hidden;
  width: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }
  .bg-img-wrap .bg-img-wrap-src {
    width: 100%;
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }
  .bg-img-wrap.is-portrait .bg-img-wrap-src {
    width: auto;
    height: 100%; }

.bg-img-wrap-cover {
  z-index: 1; }

.section-wrapper.tall-as-device .swiper-container {
  height: 100%; }

.section-wrapper.tall-as-device .embed-responsive {
  height: 100%; }

.section-wrapper.tall-as-device .bg-img-wrap::before {
  padding-bottom: calc(100vh - 64px); }
  @media (min-width: 48em) {
    .section-wrapper.tall-as-device .bg-img-wrap::before {
      padding-bottom: calc(100vh - 96px); } }

.swiper-button-prev, .swiper-button-next {
  height: 44px;
  color: #fff;
  width: 44px;
  margin-top: -22px; }
  .swiper-button-prev::after, .swiper-button-next::after {
    display: none; }

.sticky-nav {
  z-index: 1020;
  padding: 9px 0 8px 0; }
  .sticky-nav.js-is-sticky {
    top: 64px; }
  .sticky-nav.js-is-stuck {
    top: auto;
    bottom: 0; }
  @media (min-width: 48em) {
    .sticky-nav {
      top: 96px; } }

#sticky_filters {
  height: 86px; }
  @media (min-width: 48em) {
    #sticky_filters {
      height: 48px; } }

#sticky_events {
  height: 48px; }

.avatar-outer {
  overflow: hidden;
  position: relative; }
  .avatar-outer::after {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 100%; }
  .avatar-outer .avatar-inner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%; }
  .avatar-outer, .avatar-outer .avatar-inner {
    border-radius: 100%; }
  .avatar-outer svg {
    fill: #fff;
    font-weight: 300;
    height: 100%;
    width: 100%; }
  .avatar-outer img {
    border-radius: 100%;
    width: 100%; }

.standard-teaser .row:last-child .teaser-actions, .standard-teaser .row:last-child .teaser-video, .standard-teaser .row:last-child .teaser-img, .standard-teaser .row:last-child .teaser-header, .standard-teaser .row:last-child .teaser-intro, .standard-teaser .row:last-child .teaser-description {
  margin: 0 !important; }

body {
  font-size: 14px; }
  @media (min-width: 368px) {
    body {
      font-size: calc(14px + 2 * ((100vw - 368px) / 1072)); } }
  @media (min-width: 1440px) {
    body {
      font-size: 16px; } }

h1, .h1 {
  font-size: 2.44141rem; }
  h1, .h1 {
    font-size: 34.17969px; }
    @media (min-width: 368px) {
      h1, .h1 {
        font-size: calc(34.17969px + 36.69531 * ((100vw - 368px) / 1072)); } }
    @media (min-width: 1440px) {
      h1, .h1 {
        font-size: 70.875px; } }

h2, .h2 {
  font-size: 1.95313rem; }
  h2, .h2 {
    font-size: 27.34375px; }
    @media (min-width: 368px) {
      h2, .h2 {
        font-size: calc(27.34375px + 19.90625 * ((100vw - 368px) / 1072)); } }
    @media (min-width: 1440px) {
      h2, .h2 {
        font-size: 47.25px; } }

h3, .h3, blockquote, .blockquote {
  font-size: 1.5625rem; }
  h3, .h3, blockquote, .blockquote {
    font-size: 21.875px; }
    @media (min-width: 368px) {
      h3, .h3, blockquote, .blockquote {
        font-size: calc(21.875px + 9.625 * ((100vw - 368px) / 1072)); } }
    @media (min-width: 1440px) {
      h3, .h3, blockquote, .blockquote {
        font-size: 31.5px; } }

h4, .h4 {
  font-size: 1.25rem; }
  h4, .h4 {
    font-size: 17.5px; }
    @media (min-width: 368px) {
      h4, .h4 {
        font-size: calc(17.5px + 3.5 * ((100vw - 368px) / 1072)); } }
    @media (min-width: 1440px) {
      h4, .h4 {
        font-size: 21px; } }

body {
  font-weight: 400; }

h1, .h1, h2, .h2, h3, .h3, .lead, blockquote, .blockquote {
  font-weight: 300; }

h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 700; }

blockquote, .blockquote {
  font-style: italic; }

.hero-slider {
  height: 100%; }

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop, #sticky_filters.js-is-sticky + #sticky_filters_buffer {
    height: 48px; }
  *::-ms-backdrop, #sticky_filters.js-is-stuck + #sticky_filters_buffer {
    height: 48px; }
  *::-ms-backdrop, #sticky_events.js-is-sticky + #sticky_filters_buffer {
    height: 48px; }
  *::-ms-backdrop, #sticky_events.js-is-stuck + #sticky_filters_buffer {
    height: 48px; } }


/*# sourceMappingURL=index.css.map*/