<article class="d-flex h-100">
  <div class="container-fluid mb-4">
    <div class="row">
      <div class="col">
        <div class="teaser-video text-left mb-3">
          <div class="teaser-video-content rounded">
            <div class="embed-responsive embed-responsive-16by9">
              <div class="embed-responsive-item lazyload youtube-video" id="teaser_video3" data-videoid="eEzD-Y97ges"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-header text-left mb-3">
          <h4>Lorem ipsum dolor sit amet</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-description text-left mb-3">
          <p>
            Duis pharetra eros dolor, sodales laoreet tortor tincidunt et. Nulla facilisi. Curabitur sit amet metus nulla. Nulla facilisi. Curabitur sit amet metus nulla.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="teaser-actions text-left mb-3">
          <a href="#" class="btn btn-sm btn-outline-primary">Learn More <i class="material-icons-outlined">chevron_right</i></a>
        </div>
      </div>
    </div>
  </div>
</article>