html, body {
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  background-color: $gray-800;
  color: $gray-100;
  &.offcanvas-open {
    overflow: hidden;
  }
}
.max-wrap {
  max-width: rem(1280px);
  margin: 0 auto;
  width: 100%;
}

.top-0 {
  top: 0 !important;
}
.right-0 {
  right: 0 !important;
}
.bottom-0 {
  bottom: 0 !important;
}
.left-0 {
  left: 0 !important;
}
.word-wrap {
  @include word-wrap();
}
.main-wrapper {
  box-shadow: rem(0px 4px 8px 0px) rgba($black, 0.75);
}
[data-theme="light"] {
  background-color: $gray-100;
  color: $gray-900;
}
[data-theme="dark"] {
  background-color: $gray-900;
  color: $gray-100;
}
.material-icons, .material-icons-outlined {
  font-size: inherit;
  line-height: inherit;
  vertical-align: top;
}
main {
  padding-top: $headerMobileHeight;
  @media (min-width: $md) {
    padding-top: $headerDesktopHeight;
  }
}
.bg-img-wrap {
  height: 100%;
  overflow: hidden;
  width: 100%;
  @include center-center;
  
  .bg-img-wrap-src {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    @include center-center;
  }
  &.is-portrait {
    .bg-img-wrap-src {
      width: auto;
      height: 100%;
    }
  }
}

.section-wrapper {
  &.tall-as-device {
    .swiper-container {
      height: 100%;
    }
    .embed-responsive {
      // display: flex;
      height: 100%;
    }
    .bg-img-wrap {
      &::before {
        padding-bottom: calc(100vh - #{$headerMobileHeight});
        @media (min-width: $md) {
          padding-bottom: calc(100vh - #{$headerDesktopHeight});
        }
      }
    }
  }
}
.swiper-button-prev, .swiper-button-next {
  height: 44px;
  color: $white;
  width: 44px;
  margin-top: -22px;
  &::after {
    display: none;
  }
}