html, body {
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  background-color: $gray-800;
  color: $gray-100;
  &.offcanvas-open {
    overflow: hidden;
  }
}
.max-wrap {
  max-width: rem(1600px);
  margin: 0 auto;
}

.top-0 {
  top: 0 !important;
}
.right-0 {
  right: 0 !important;
}
.bottom-0 {
  bottom: 0 !important;
}
.left-0 {
  left: 0 !important;
}
.word-wrap {
  @include word-wrap();
}
.main-wrapper {
  box-shadow: rem(0px 4px 8px 0px) rgba($black, 0.75);
}
.light-theme {
  background-color: $gray-200;
  color: $gray-900;
}
.dark-theme {
  background-color: $gray-900;
  color: $gray-200;
}
.material-icons, .material-icons-outlined {
  font-size: inherit;
  line-height: inherit;
  vertical-align: top;
}