$min_width: 368px;
$max_width: 1440px;
$min_font: 14px;
$max_font: 16px;
$mod_1: 1.25; // mobile
$mod_2: 1.5; // desktop

body {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}
h1, .h1 {  
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2*$mod_2 *$min_font);
}
h2, .h2 {  
  font-size: $mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h3, .h3 { 
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}
h4, .h4 { 
  font-size: $mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2 *$min_font);
}
body {
  font-weight: 400;
}
h1, .h1, h2, .h2, h3, .h3, .lead {
  font-weight: 300;
}
h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 700;
}