$primary: #F8146A;
$secondary: #000000;
$success: #28A228;
$info: #003658;
$warning: #e4891a;
$danger: #b11030;
$light: #f3f3f3;
$dark: #585858;


$headerMobileHeight: 64px;
$headerDesktopHeight: 96px;