$primary: #F8146A;
$secondary: #000000;
$success: #28A228;
$info: #0370B6;
$warning: #F3933F;
$danger: #b11030;
$light: #f3f3f3;
$dark: #585858;
$white: #fff;
$black: #000;

$headerMobileHeight: 64px;
$headerDesktopHeight: 96px;