<section class="sitefooter bg-transparent" data-theme="dark">
  <footer class="pb-3 py-md-5">
    <div class="max-wrap px-md-3">
      <nav>
        <ul class="list-group bg-transparent list-group-horizontal-md" id="footer_acc">
          <li class="list-group-item bg-transparent col-xs-12 col-md-3 p-0 border-0">
            <button class="footer-title btn btn-block bg-transparent text-left text-light p-0" id="footer_acc_header_1"
              data-toggle="collapse" data-target="#footer_acc_collapse_1" aria-expanded="false"
              aria-controls="footer_acc_collapse_1">
              <h4 class="m-0 border-bottom border-primary p-3 pr-5 px-md-0">
                Choose Us
              </h4>
              <i class="material-icons-outlined collapsed">add</i>
              <i class="material-icons-outlined expanded">remove</i>
            </button>
            <div class="collapse" id="footer_acc_collapse_1" aria-labelledby="footer_acc_header_1"
              data-parent="#footer_acc">
              <ul class="list-unstyled d-block p-3 px-md-0 pr-md-3">
                <li class="py-1"><a href="#">Investors</a></li>
                <li class="py-1"><a href="#">Sustainability</a></li>
                <li class="py-1"><a href="#">Digital</a></li>
                <li class="py-1"><a href="#">Moving Image</a></li>
                <li class="py-1"><a href="#">Social Media</a></li>
              </ul>
            </div>
          </li>
          <li class="list-group-item bg-transparent col-xs-12 col-md-3 p-0 border-0">
            <button class="footer-title btn btn-block bg-transparent text-left text-light p-0" id="footer_acc_header_2"
              data-toggle="collapse" data-target="#footer_acc_collapse_2" aria-expanded="false"
              aria-controls="footer_acc_collapse_2">
              <h4 class="m-0 border-bottom border-primary p-3 px-md-0">
                Follow Us
              </h4>
              <i class="material-icons-outlined collapsed">add</i>
              <i class="material-icons-outlined expanded">remove</i>
            </button>
            <div class="collapse" id="footer_acc_collapse_2" aria-labelledby="footer_acc_header_2"
              data-parent="#footer_acc">
              <ul class="list-unstyled d-block p-3 px-md-0 pr-md-3">
                <li class="py-1"><a href="#">Newsletters</a></li>
                <li class="py-1"><a href="#">Twitter</a></li>
                <li class="py-1"><a href="#">LinkedIn</a></li>
                <li class="py-1"><a href="#">Youtube</a></li>
                <li class="py-1"><a href="#">Blogs</a></li>
              </ul>
            </div>
          </li>
          <li class="list-group-item bg-transparent col-xs-12 col-md-3 p-0 border-0">
            <button class="footer-title btn btn-block bg-transparent text-left text-light p-0" id="footer_acc_header_3"
              data-toggle="collapse" data-target="#footer_acc_collapse_3" aria-expanded="false"
              aria-controls="footer_acc_collapse_3">
              <h4 class="m-0 border-bottom border-primary p-3 px-md-0">
                Join Us
              </h4>
              <i class="material-icons-outlined collapsed">add</i>
              <i class="material-icons-outlined expanded">remove</i>
            </button>
            <div class="collapse" id="footer_acc_collapse_3" aria-labelledby="footer_acc_header_3"
              data-parent="#footer_acc">
              <ul class="list-unstyled d-block p-3 px-md-0 pr-md-3">
                <li class="py-1">
                  <p>Looking for a rewarding career?</p>
                  <a href="#">Send your CV</a></li>
              </ul>
            </div>
          </li>
          <li class="list-group-item bg-transparent col-xs-12 col-md-3 p-0 border-0">
            <button class="footer-title btn btn-block bg-transparent text-left text-light p-0" id="footer_acc_header_4"
              data-toggle="collapse" data-target="#footer_acc_collapse_4" aria-expanded="false"
              aria-controls="footer_acc_collapse_4">
              <h4 class="m-0 border-bottom border-primary p-3 px-md-0">
                Contact Us
              </h4>
              <i class="material-icons-outlined collapsed">add</i>
              <i class="material-icons-outlined expanded">remove</i>
            </button>
            <div class="collapse" id="footer_acc_collapse_4" aria-labelledby="footer_acc_header_4"
              data-parent="#footer_acc">
              <ul class="list-unstyled d-block p-3 px-md-0 pr-md-3">
                <li class="py-1">
                  <p>We'd love to hear from you...</p>
                  <a href="mailto:abc@emaildomain.com" class="btn btn-sm btn-block btn-info">
                    <h6 class="m-0">
                      <i class="material-icons-outlined">email</i>
                      John Doe
                    </h6>
                  </a>
                  <a href="tel:+12345678901" class="btn btn-sm btn-block btn-outline-light">
                    <i class="material-icons-outlined">phone</i>
                    +1 234 567 8901
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <p class="text-center mt-3">
        &copy; This Website &middot; <a href="#">Accessibility</a> &middot; <a href="#">Privary Notice</a> &middot; <a href="#">Cookie Policy</a>
      </p>
    </div>
  </footer>
</section>