<!--#include virtual="head-assets.html" -->

<body>
    <div class="main-wrapper">
        <!--#include virtual="./../../components/siteheader/_index.html" -->
        <main>
            <!--#include virtual="./../../section-wrappers/examples-tall-as-device/_section-wrapper-home-hero-slider.html" -->
            <!--#include virtual="./../../section-wrappers/examples-one-n-only/_section-wrapper-home-quick-info.html" -->
            <!--#include virtual="./../../section-wrappers/examples-half-n-half/_section-wrapper-home-text-teasers.html" -->
            <!--#include virtual="./../../section-wrappers/examples-half-n-half/_section-wrapper-home-clients-preview.html" -->
        </main>
    </div>
    <!--#include virtual="./../../components/sitefooter/_index.html" -->
    <!--#include virtual="footer-assets.html" -->
</body>
</html>