<div class="max-wrap-half">
  <div class="container">
    <div class="row">
      <div class="col">
        <form class="needs-validation" data-aemvalidate="true" novalidate>
          <div class="form-group">
            <label for="registration_email"><strong>Email</strong><strong aria-hidden="true" class="text-danger ml-2">*</strong></label>
            <input type="email" class="form-control" id="registration_email" name="registration_email" data-rules='{
              "required": {
                "message": "Email is required."
              },
              "email":  {
                "message": "Please enter a valid email address."
              }
            }'/>
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label for="registration_password"><strong>Password</strong><strong aria-hidden="true" class="text-danger ml-2">*</strong></label>
            <input type="password" class="form-control" id="registration_password" name="registration_password" required data-rules='{
              "required":  {
                "message": "Password is required."
              },
              "format": {
                "pattern": "/^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/",
                "message": "Please follow the required format."
              }
            }'/>
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label for="registration_repassword"><strong>Retype Password</strong><strong aria-hidden="true" class="text-danger ml-2">*</strong></label>
            <input type="password" class="form-control" id="registration_repassword" name="registration_repassword" required data-rules='{
              "required":  {
                "message": "Password confirmation is required."
              },
              "format": {
                "pattern": "/^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/",
                "message": "Please follow the required format."
              },
              "equal": {
                "to": "registration_password",
                "message": "The passwords do not match."
              }
            }'/>
            <div class="invalid-feedback"></div>
          </div>
          <hr class="my-4"/>
          <!-- <div class="form-group">
            <label for="registration_title"><strong>Title</strong><strong aria-hidden="true" class="text-danger ml-2">*</strong></label>
            <select class="form-control custom-select" id="registration_title" required>
              <option>Select one</option>
              <option>Mr.</option>
              <option>Mrs.</option>
              <option>Ms.</option>
            </select>
            <div class="invalid-feedback">
              Please let us know how we should address you.
            </div>
          </div>
          <div class="form-group">
            <label for="registration_firstname"><strong>First name</strong><strong aria-hidden="true" class="text-danger ml-2">*</strong></label>
            <input type="text" class="form-control" id="registration_firstname" required/>
            <div class="invalid-feedback">
              Well?
            </div>
          </div>
          <div class="form-group">
            <label for="registration_lastname"><strong>Last name</strong><strong aria-hidden="true" class="text-danger ml-2">*</strong></label>
            <input type="text" class="form-control" id="registration_lastname" required/>
            <div class="invalid-feedback">
              Come on...
            </div>
          </div>
          <div class="form-group">
            <label for="registration_jobtitle"><strong>Job Title</strong></label>
            <input type="text" class="form-control" id="registration_jobtitle"/>
          </div>
          <div class="form-group">
            <label for="registration_company"><strong>Company</strong><strong aria-hidden="true" class="text-danger ml-2">*</strong></label>
            <input type="text" class="form-control" id="registration_company" required/>
            <div class="invalid-feedback">
              Shouldn't we know the company you are representing?
            </div>
          </div>
          <div class="form-group">
            <label for="registration_profilepic"><strong>Profile Picture</strong></label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="registration_profilepic">
              <label class="custom-file-label" for="registration_profilepic">Choose file</label>
            </div>
          </div>
          <div class="form-group">
            <label for="registration_corporatereporting"><strong>Areas of interest</strong></label>
            <div class="custom-control custom-checkbox">
              <input name="registration_areasofinterest" type="checkbox" class="custom-control-input" id="registration_corporatereporting">
              <label class="custom-control-label" for="registration_corporatereporting">Corporate Reporting</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input name="registration_areasofinterest" type="checkbox" class="custom-control-input" id="registration_digital">
              <label class="custom-control-label" for="registration_digital">Digital</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input name="registration_areasofinterest" type="checkbox" class="custom-control-input" id="registration_sustainability">
              <label class="custom-control-label" for="registration_sustainability">Sustainability</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input name="registration_areasofinterest" type="checkbox" class="custom-control-input" id="registration_employeecommunications">
              <label class="custom-control-label" for="registration_employeecommunications">Employee Communications</label>
            </div>
          </div>
          <hr class="my-4"/>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input name="registration_newsletter" type="checkbox" class="custom-control-input" id="registration_newsletter">
              <label class="custom-control-label" for="registration_newsletter">I'd like to receive the weekly newsletter</label>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input name="registration_terms" type="checkbox" class="custom-control-input" id="registration_terms">
              <label class="custom-control-label" for="registration_terms">I confirm that I've' read the <a href="#">Privacy policy</a> and I agree to the <a href="#">Terms &amp; Conditions</a>.</a></label>
            </div>
          </div> -->
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg mr-3">Register <i class="bi bi-chevron-right"></i></button>
            <!-- <button type="button" class="btn btn-outline-secondary btn-sm">Cancel</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>