<div class="max-wrap-half">
  <div class="container">
    <div class="row">
      <div class="col">
        <form data-aemvalidate="true" novalidate>
          <div class="form-group">
            <label for="registration_email"><strong>Email</strong><strong aria-hidden="true" class="text-danger ml-2">*</strong></label>
            <input type="email" class="form-control" id="registration_email" name="registration_email" required data-aemrules='{
              "required": {
                "value": true,
                "message": "Email is required."
              },
              "email":  {
                "value": true,
                "message": "Please enter a valid email address."
              }
            }'/>
          </div>
          <div class="form-group">
            <label for="registration_password"><strong>Password</strong><strong aria-hidden="true" class="text-danger ml-2">*</strong></label>
            <input type="password" class="form-control" id="registration_password" name="registration_password" required data-aemrules='{
              "required":  {
                "value": true,
                "message": "Password is required."
              },
              "pattern": {
                "value": "^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\\s).{8,}$",
                "message": "Password must follow the required format."
              }
            }'/>
          </div>
          <div class="form-group">
            <label for="registration_repassword"><strong>Retype Password</strong><strong aria-hidden="true" class="text-danger ml-2">*</strong></label>
            <input type="password" class="form-control" id="registration_repassword" name="registration_repassword" required data-aemrules='{
              "required":  {
                "value": true,
                "message": "Password is required."
              },
              "pattern": {
                "value": "^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\\s).{8,}$",
                "message": "Password must follow the required format."
              },
              "equalTo": {
                "value": "registration_password",
                "message": "The passwords need to match."
              }
            }'/>
          </div>
          <hr class="my-4"/>
          <div class="form-group">
            <label for="registration_title"><strong>Title</strong><strong aria-hidden="true" class="text-danger ml-2">*</strong></label>
            <select class="form-control custom-select" id="registration_title" name="registration_title" required data-aemrules='{
              "required":  {
                "value": true,
                "message": "Title is required."
              }
            }'>
              <option value="">Select one</option>
              <option value="mr">Mr.</option>
              <option value="mrs">Mrs.</option>
              <option value="ms">Ms.</option>
            </select>
          </div>
          <div class="form-group">
            <label for="registration_firstname"><strong>First name</strong><strong aria-hidden="true" class="text-danger ml-2">*</strong></label>
            <input type="text" class="form-control" id="registration_firstname" name="registration_firstname" required data-aemrules='{
              "required":  {
                "value": true,
                "message": "First name is required."
              }
            }'/>
          </div>
          <div class="form-group">
            <label for="registration_lastname"><strong>Last name</strong><strong aria-hidden="true" class="text-danger ml-2">*</strong></label>
            <input type="text" class="form-control" id="registration_lastname" name="registration_lastname" required data-aemrules='{
              "required":  {
                "value": true,
                "message": "Last name is required."
              }
            }'/>
          </div>
          <div class="form-group">
            <label for="registration_jobtitle"><strong>Job Title</strong></label>
            <input type="text" class="form-control" id="registration_jobtitle"/>
          </div>
          <div class="form-group">
            <label for="registration_company"><strong>Company</strong><strong aria-hidden="true" class="text-danger ml-2">*</strong></label>
            <input type="text" class="form-control" id="registration_company" name="registration_company" required data-aemrules='{
              "required":  {
                "value": true,
                "message": "Company is required."
              }
            }'/>
            <div class="toggle-feedback text-danger" data-forname="registration_company"></div>
          </div>
          <div class="form-group">
            <label for="registration_profilepic"><strong>Profile Picture</strong></label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="registration_profilepic">
              <label class="custom-file-label" for="registration_profilepic">Choose file</label>
            </div>
          </div>
          <div class="form-group">
            <label for="registration_corporatereporting"><strong>Areas of interest</strong></label>
            <div class="custom-control custom-checkbox">
              <input name="registration_areasofinterest" type="checkbox" class="custom-control-input" id="registration_corporatereporting" data-aemrules='{
                "required":  {
                  "value": true,
                  "message": "Areas of interests are required."
                },
                "minlength": {
                  "value": 2,
                  "message": "Please select atleast 2."
                }
              }'>
              <label class="custom-control-label" for="registration_corporatereporting">Corporate Reporting</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input name="registration_areasofinterest" type="checkbox" class="custom-control-input" id="registration_digital">
              <label class="custom-control-label" for="registration_digital">Digital</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input name="registration_areasofinterest" type="checkbox" class="custom-control-input" id="registration_sustainability">
              <label class="custom-control-label" for="registration_sustainability">Sustainability</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input name="registration_areasofinterest" type="checkbox" class="custom-control-input" id="registration_employeecommunications">
              <label class="custom-control-label" for="registration_employeecommunications">Employee Communications</label>
            </div>
            <div class="toggle-feedback text-danger" data-forname="registration_areasofinterest"></div>
          </div>
          <hr class="my-4"/>
          <!-- <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input name="registration_newsletter" type="checkbox" class="custom-control-input" id="registration_newsletter">
              <label class="custom-control-label" for="registration_newsletter">I'd like to receive the weekly newsletter</label>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input name="registration_terms" type="checkbox" class="custom-control-input" id="registration_terms">
              <label class="custom-control-label" for="registration_terms">I confirm that I've' read the <a href="#">Privacy policy</a> and I agree to the <a href="#">Terms &amp; Conditions</a>.</a></label>
            </div>
          </div> -->
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg mr-3">Register <i class="bi bi-chevron-right"></i></button>
            <!-- <button type="button" class="btn btn-outline-secondary btn-sm">Cancel</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>